<p>Dear <%= @user.first_name%>,</p>

<p>Jouve & Associés vous permet désormais de consulter vos missions sur sa plateforme Jouveo.
Veuillez vous rendre sur le site: <a href="https://jouveo.herokuapp.com" alt="jouveo" target="_blank">www.jouveo.com</a>
</p>

<p>Veuillez utiliser l'adresse email sur laquelle vous est parvenu cet email: <%= @user.email%> <br/>
Votre mot de passe est le suivant: <strong><%= @password %></strong> <br/>
Vous pourrez le changer à la première connexion.
</p>

<p>

Jouve & Associés <br/>
54 avenue Marceau <br/>
75008 Paris
</p>
