  <i class="fa fa-envelope-o" aria-hidden="true"></i> : <span class="popover-email"><%= user.email%></span> <br/>
  <i class="fa fa-phone" aria-hidden="true"></i> : <span class="popover-phone"><%= user.phone%></span>

