// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS de la show mission

// ------------- Mission infos ------------------//
.wrapper-gray-light {
  background-color: rgb(241,241,241);
}

.candidates-list {
  margin: 40px 0;
  min-height: 50vh;
}

.mission-status ul {
  margin-bottom: 0;
}

#candidates-count {
  margin-top: 25px;
}

// -------------- Team Jouve ---------------------//
.associate, .consultant, .assistant {
  display: flex;
  align-items: center;
  margin-top: 5px;
  .position {
    font-size: 14px;
    font-style: italic;
  }
}

.team-jouve {
  padding-top: 10px;
}

.team-avatar {
  width: 35%;
}

.team-infos {
  flex: 1 0 auto;
}
