<div class="container padded">
  <div class="row">
    <div class="text-center">
      <h2><%= I18n.t(".appointments.edit_appointment") %></h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "appointments/form_appointment", appointment: @appointment%>
    </div>
  </div>
</div>
