<div class="card-mission">
  <%= link_to "", mission_path(mission), class: "card-mission-link"%>
  <div class="card-mission-title">
    <h4><%= mission.title %></h2>
  </div>
  <div class="mission-date">
    <p><%= I18n.t('.missions.show.created_at') %> <%= I18n.localize mission.created_at, format: :date_month_year_concise%></p>
  </div>

</div>
