<div class="container padded">
  <div class="row">
    <div class="text-center">
      <h2><%= I18n.t(".missions.edit_mission") %></h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "missions/form_mission", mission: @mission, team_jouve: @team_jouve, partners: @partners, not_jouve: @not_jouve, client:@client %>
    </div>
  </div>
</div>
