<div class="wrapper-gray">
  <div class="container" id="dashboard-mission-headers">
    <h1><%= t ".title" %></h1>
    <div id="tabs-navigation">
      <ul class="tabs list-inline">
        <li class="tab active" data-target="#current">
          <div >
            <p><%= t ".current" %></p>
          </div>
        </li>
        <li class="tab" data-target="#history">
          <div>
            <p><%= t ".history" %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="container">
    <div class="tab-content" id="current">
      <% @missions.each do |mission|%>
        <div class="row">
          <div class="col-xs-11">
            <%= render "missions/card_mission", mission: mission%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="tab-content hidden" id="history">
     <!-- temporaire -->

    </div>

  </div>
</div>


<% content_for(:after_js) do %>
  <script>

    $(document).ready(function(){
      // Effet sur cartes
      $( ".card-mission" ).hover(function() {
          $(".card-mission").addClass('fadded');
          $(this).removeClass('fadded');
        }, function () {
          $(".card-mission").removeClass("fadded");
        }
      );


      $(".tab").on("click", function(e){
        // Change active tab
        $(".active").removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".tab-content").addClass('hidden');
        // Show target tab-content (use class="hidden")
        console.log($(this).data("target"));
        $($(this).data("target")).removeClass('hidden');
      });

    });



  </script>
<% end %>
