<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render "missions/form_mission", mission: @mission, team_jouve: @team_jouve, not_jouve: @not_jouve, client: @client %>
    </div>
  </div>
</div>
